:root{
    font-size: 62.5%;
    background-color: white;
    color: rgba(116, 71, 43, 0.89);
}

body{
    width: 100%;
    height: 100vh;
    word-wrap: break-word;
    box-sizing: border-box;
    /*overflow: hidden; /* can be inactivated when troubleshooting */
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0rem;
} 

h1{
    font-size: 2.5rem;
}

p{
    margin: 0;
    width: auto;

}

li, li a{
    color:  rgba(153, 125, 107, 0.89);
    list-style-type: none;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    width: 15rem;
    float: left;
    letter-spacing: 0.2rem;
    font-weight: lighter;
}

li a:hover{
    color: rgba(116, 71, 43, 0.89);
    letter-spacing: 0.2rem;
    font-weight: normal;
    cursor: pointer;
} 

.header{
    background-color:  rgba(153, 125, 107, 0.89);
    color:rgba(255, 255, 255, 0.95);
    font-size: 2.5rem;
    letter-spacing: 0.5rem; 
    box-shadow:0px 5px 15px 9px rgba(153, 125, 107, 0.89);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-sizing: border-box;
    overflow-wrap: break-word;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 2rem;
    padding-bottom: 1rem;
    margin-top: 0rem;
}

/* menu div */
.menu{  
    width: auto;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: auto;
}

/* menu button */
.menubutton{
    font-size: 1.7rem;
    background-color: transparent;
    border: none;
}

/* main div including everything exept header and footer */
.main{
    width: auto;
    height: 60vh;
    background-color: rgba(153, 125, 107, 0.322);
    letter-spacing: 0.15rem;
    padding: 2rem;
    margin-top: 4rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: auto;
}

.right-div{
    width: 48%;
    height: 100%;
    float: right;
}

.left-div{
    width: 48%;
    height: 100%;
    float: left;
}

/* li with sensor vaulues - differ from menu li */
.textParagraphSensors{
    width: auto;
    font-weight: lighter;
    letter-spacing: 0.1rem; 
    float: unset;
}

/* p with sensor vaules - differ from menu li */
.sensorValue{
    margin-top: 1rem;

}

.footer{
    clear: both; 
    height: 5vh; 
    font-size: 1.2rem; 
    color:rgba(63, 63, 63, 0.863);
    background-color: rgba(153, 125, 107, 0.322);
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}